@media (min-width:501px) and (max-width:1060px){
    
    #title_h1{
        font-size: 2em;
    }

    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .players{
        width: 40em;
        height: 5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 1em;
        text-align: center;
        border: none;
        margin-top: 1em;
    }

    .name_title{
        margin-right: 1em;
        width: 15em;
        height: 2em;
    }

    .icons_p1{
        display: none;
    }

    .icons_live{
        width: 7em;
        display: flex;
        flex-direction: row;
        margin-top: 1em;
    }

    .icons_live2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .tableroContainer{
        width: 35em;
        height: 40em;
    }

    .cellDesign{
        width: 13em;
        height: 12em;
    }

    .no_dotted{
        border: 0;
    }


    .dotted_board{
        width: 100%;
        height: 38em;
    }
}

@media (max-width:500px){
    
    #title_h1{
        font-size: 2em;
    }

    body{
        font-size: small;
    }

    .main{
        width: 25em;
        display: flex;
        flex-direction: column;
    }

    .players{
        width: 18em;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1em;
        text-align: center;
        border: none;
        margin-top: 1em;
    }

    .name_title{
        margin-right: 1em;
        width: 12em;
        height: 2em;
    }

    .icons_p1{
        display: none;
    }

    .icons_live{
        width: 4em;
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        margin-left: 1em;
    }

    .icons_live2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .tableroContainer{
        width: 24em;
        height: 18em;
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }

    .cellDesign{
        width: 8em;
        height: 4em;
    }

    .dotted_board{
        width: 8em;
        height: 15em;
    }

    .no_dotted{
        border: 0;
    }

    .border_dotted{
        width: 5em;
    }

    .buttons{
        margin-top: -1em;
    }
}


