@media (max-width:500px){
    
    #title_h1{
        font-size: 2em;
    }

    .main{
        width: 100%;
        flex-direction: column;
    }

    .players{
        width: 15em;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1em;
        text-align: center;
        border: none;
        margin-top: 1em;
        /* background-color: aquamarine; */
    }

    .name_title{
        margin-right: 1em;
        width: 30em;
        height: 2em;
        /* background-color: blue; */
    }

    .icons_p1{
        display: none;
    }

    .icons_live{
        display: none;
    }

    .tableroContainer{
        width: 100%;
        height: 12em;
        border: 8px solid blue;
        margin-top: 1em;
    }

    .cellDesign{
        width: 4em;
        height: 3em;
    }

    .dotted_board{
        width: 100%;
        height: 11em;
    }
};

@media (max-width:950px){
    
    #title_h1{
        font-size: 30px;
    }

    .main{
        width: 100%;
        flex-direction: column;
    }

    .player1{
        width: 15em;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1em;
        text-align: center;
        border: none;
        /* background-color: aquamarine; */
    }

    .name_title{
        margin-right: 1em;
        width: 30em;
        height: 2em;
        /* background-color: blue; */
    }

    .icons_p1{
        display: none;
    }

    .icons_live{
        display: none;
    }

    .tableroContainer{
        width: 100%;
        height: 10em;
    }

    .cellDesign{
        width: 2em;
        height: 2em;
    }

    .dotted_board{
        width: 100%;
        height: 9em;
    }
};

