@media (max-width:500px){

    body{
        display: flex;
        font-size: small;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .results{
        display: flex;
        align-items: center;
        justify-content: center;
        width:18em ;
    }

    .winner{
        font-size: 16px;
    }

    .icon{
        display: none;
    }

    .icon_media{
        background-image: url(../img/winner1_mini.png);
    }
    

    .name_title{
        width: 12em;
        height: 2em;
        text-align: center;
    }

    .again{
        margin-top: 2em;
        cursor: pointer;
    }

    .again:hover{
        background-color:rgb(238, 138, 8);
        color: rgb(153, 7, 7);
    }
}