@media (min-width:500px) and (max-width:1060px){
    
    #title_h1{
        font-size: 2em;
    }

    .main{
        width: 100%;
        flex-direction: column;
    }

    .players{
        width: 30em;
        height: 5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 1em;
        text-align: center;
        border: none;
        margin-top: 1em;
        /* background-color: aquamarine; */
    }

    .name_title{
        margin-right: 3em;
        width: 20em;
        height: 2em;
        /* background-color: blue; */
    }

    .icons_p1{
        display: none;
    }

    .icons_live{
        display: none;
        /* width: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5em; */
    }

    .tableroContainer{
        width: 100%;
        height: 40em;
        /* border: 8px solid blue; */
        
    }

    .cellDesign{
        width: 13em;
        height: 12em;
        /* background-color: aliceblue; */
    }

    .dotted_board{
        width: 100%;
        height: 39em;
    }
};