
/* @import url('https://fonts.cdnfonts.com/css/gamer'); */

@import url('https://fonts.cdnfonts.com/css/retro-new-version');

body{
    background-color: black;
    font-family: helvetica;
    font-family: Retro New Version;
    color: white;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    /* margin-left: 15em; */
}

.title_h1{
    justify-content: center;
    align-items: center;
}

.container{
    width: 35em;
    height: 20em;
    border: 5px solid green;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5em;
    font: white ;
    justify-content: center;
    align-items: center;
}

.start{
    width: 5em;
    height: 2em;
    background-color: aliceblue;
    color: black;
    text-align: center;
    margin-top: 2em;
    cursor: pointer;
}

.start:hover{
    background-color: green;
    color:whitesmoke
}

