
/* General items */

@import url('https://fonts.cdnfonts.com/css/public-pixel');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Public Pixel;
}

body{
    background-color: rgb(39, 37, 37);
    min-width: 320px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Header */

.header{
    width: 100%;
    height: 7em;
    margin-right: auto;
    margin-bottom: -2em;
    background-color: rgb(238, 138, 8);
    border: 7px solid rgb(153, 7, 7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
}

.title_h{
    margin: auto;
    letter-spacing: 3px;
    text-align: center;
    width: 60%;
}


/* Main */

.main{
    width: 100%;
    height: calc(100vh - 100px);
    /* background-color: aqua; */
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
}

/* Board */

.tableroContainer{
    width: 40em;
    height: 40em;
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* border: 8px solid blue; */
    border-radius: 3px;
    /* background-color: aliceblue; */
}


.cellDesign{
    width: 10em;
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    margin: 1em;
    cursor: pointer;
    color: white;
}

.dotted_board{
    border-right: 5px dotted white;
}

.border_dotted{
    border-bottom: 5px dotted white;
}

.button_cel{
    display: block;
    height: 90%;
    width: 90%;
    margin: auto;
}

/* Players */

.players{
    width: 15%;
    height: 80%;
    margin-top: 3em;
    border: 6px solid whitesmoke;
    border-radius: 5px;
    padding: 10px 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}

.name_title{
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 3px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    /* background-color: blueviolet; */
}

.icons_players{
    width: 8em;
    margin-top: 2em;
    margin-bottom: 5em;
}

.name1{
    border-color: orange;

}

.name2{
    border-color: rgb(218, 19, 19);
}

.icons_live{
    width: 2em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: 0, center;
    margin: auto;
    margin-top: 5em;

}

/* Buttons start and new game */

.buttons{
    margin-top: -2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button_1{
    width: 15em;
    height: 3em;
    /* border: solid black; */
    /* border: none; */
    align-items: center;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
}

.button_1:hover{
    background-color:rgb(238, 138, 8);
    color: rgb(153, 7, 7);
}


