
/* @import url('https://fonts.cdnfonts.com/css/gamer'); */

body{
    background-color: black;
    font-family: helvetica;
    font: white;
}

.container{
    width: 50em;
    height: 30em;
    border: 5px solid green;
    display: flex;
    margin: auto;
    margin-top: 10em;
}