
/* @import url('https://fonts.cdnfonts.com/css/gamer'); */

body{
    background-color: black;
    font-family: helvetica;
    color: white;
}

.title_h1{
    justify-content: center;
    align-items: center;
}

.container{
    width: 50em;
    height: 30em;
    border: 5px solid green;
    display: flex;
    margin: auto;
    margin-top: 10em;
    font: white ;
    justify-content: center;

}

