
/* General items */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

body{
    background-color: rgb(39, 37, 37);
    min-width: 320px;
    font-size: 22px;
}

/* Header */

.header{
    width: 100%;
    height: 80px;
    margin-right: auto;
    background-color: rgb(238, 138, 8);
    border: 7px solid rgb(153, 7, 7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
}

.title_h1{
    margin: auto;
    letter-spacing: 3px;
    text-align: center;
    width: 60%;
}


/* Main */

.main{
    width: 100%;
    height: calc(100vh - 100px);
    /* background-color: aqua; */
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
}

/* Table */

    /* Out border */

.table{
    width: 50%;
    height: 80%;
    border: 8px solid rgb(53, 34, 231);
    border-radius: 5px;
    padding: 10px 10px;
}

    /* In table */

.table_Tic_Tac{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.table_Tic_Tac td{
    text-align: center;
    width: 33.3%;   
}

.table_Tic_Tac tr{
    height: 33.3%;
}

#c1_1 , #c1_2 , #c2_1 , #c2_2 , #c3_1 , #c3_2{
    border-right: 5px solid white;
    border-style: dotted;
}

#c1_1 , #c1_2 , #c1_3 , #c2_1 , #c2_2 , #c2_3{
    border-bottom: 5px solid white ;
    border-style: dotted;
}

.button_cel{
    display: block;
    height: 90%;
    width: 90%;
    margin: auto;
    /* background-color: aqua; */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Players */

.player1{
    width: 15%;
    height: 80%;
    border: 6px solid whitesmoke;
    border-radius: 5px;
    padding: 10px 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}

.name_title{
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.icons_players{
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.name1{
    border: 3px solid orange;
}

.name2{
    border: 3px solid rgb(218, 19, 19);
}


/* Buttons start and new game */

.buttons{
    width: 100%;
    height: 20px;
    /* background-color: bisque; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .start{
    height: 40px;
    width: 20px;
    border-radius: 3px;
    border: 5px solid black;
    margin-left: 20px;
} */

/* .players_mobile{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.player1_mobile{
    font-size: 18px;
    width: 40%;
    height: 100%;
    border: 2px solid whitesmoke;
    background: linear-gradient (blueviolet, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} */